<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="color: rgb(249, 248, 252);">Music Match</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Mi perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/new']" style="color: white;">Añadir grupo</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Busca grupos" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form> -->
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<div class="copyright">
  <footer class="page-footer font-small dark">
    <div class="footer-copyright text-center py-3">Rafael Camas© 2020 Copyright
    </div>
  </footer>
</div>
